@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
      font-family: 'Poppins', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
      --toastify-color-success: #ff6f3c;
}
.ant-layout {
      background: transparent !important;
}
.custom-scrollbar {
      &::-webkit-scrollbar {
            width: 6px;
      }

      &::-webkit-scrollbar-track {
            background: #e6e6e6;
      }

      &::-webkit-scrollbar-thumb {
            background: #b3b3b3;
            border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb:hover {
            background: rgb(160, 160, 160);
      }
}

.hide-scrollbar {
      &::-webkit-scrollbar {
            display: none;
      }
}
.bg-gradient-image {
      background-image: url('../assets/images/about/about-bg.svg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: fit-content;
}
.ant-carousel {
      padding: 0 !important;
      margin: 0 !important;
}
